modules = ["python-3.11", "python-base-3.9"]
run = "python app.py"

[[ports]]
localPort = 5000
externalPort = 80

[nix]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 42195947
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python app.py"




